@model Lista10.Models.Order

@{
	ViewData["Title"] = "Podsumowanie";
}

<table class="table">
	<thead>
	<tr>
		<th><p>Name</p></th>
		<th><p>Picture</p></th>
		<th><p>Category</p></th>
		<th><p>Pcs.</p></th>
		<th><p>Price</p></th>
	</tr>
	</thead>
	<tbody>
	@foreach (var (item, value) in ViewBag.articlesInBasket as IEnumerable<(Article, int)>)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.Name)
			</td>
			<td>
				<img src="/@Url.Content(item.Picture)" width="10%" height="10%"/>
			</td>
			<td>
				@foreach (var cat in ViewBag.Categories as IEnumerable<Category>)
				{
					if (item.Category == cat.Id)
					{
						<p>@cat.Name</p>
					}
				}
			</td>
			<td>
				<p>@value</p>
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Price)
			</td>

		</tr>
	}
	</tbody>
	<tfoot>
	<tr>
		<th>
		</th>
		<th>
		</th>
		<th>
		</th>
		<th>
			<p><b>Sum</b></p>
		</th>
		<th>
			<p>@ViewBag.Sum</p>
		</th>
	</tr>
	</tfoot>
</table>

<h3>Uzupełni dane do wysyłki w celu sfinalizowania zamówienia!</h3>

<div class="row">
	<div class="col-md-4">
		<form asp-action="Summary">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="Name" class="control-label"></label>
				<input asp-for="Name" class="form-control" />
				<span asp-validation-for="Name" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Surname" class="control-label"></label>
				<input asp-for="Surname" class="form-control" />
				<span asp-validation-for="Surname" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Street" class="control-label"></label>
				<input asp-for="Street" class="form-control" />
				<span asp-validation-for="Street" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="HouseNumber" class="control-label"></label>
				<input asp-for="HouseNumber" class="form-control" />
				<span asp-validation-for="HouseNumber" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="City" class="control-label"></label>
				<input asp-for="City" class="form-control" />
				<span asp-validation-for="City" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="PostalCode" class="control-label"></label>
				<input asp-for="PostalCode" class="form-control" />
				<span asp-validation-for="PostalCode" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Payment" class="control-label"></label>
				<label><input type="radio" asp-for="Payment" class="form-control" value="Credit Card" name="payment" />Credit Card</label>
				<label><input type="radio" asp-for="Payment" class="form-control" value="PayU" name="payment" />PayU</label>
				<label><input type="radio" asp-for="Payment" class="form-control" value="Cash on delivery" name="payment" />Cash on delivery</label>
				<span asp-validation-for="PostalCode" class="text-danger"></span>
			</div>
			<div class="form-group">
				<input type="submit" value="Potwierdź" class="btn btn-primary" />
			</div>
		</form>
	</div>
</div>